@import url('https://fonts.googleapis.com/css2? family= Open+Sans:wght@300;800 & family= Playfair+Display:ital,wght@0,700;1,700 & display=swap');
*{
    padding: 0;
    margin: 0;
    
}
:root {
    --titulo-branco: #FFFFFF;
    --titulo-verde: #0B1D03;
    --titulo-verde-claro: #A0996C;
    --titulo-branco-acessorios:  #FFFCF6;
    --titulo-footer: #1F1F1F;
    --fundo-footer: #F7F1E6;
}
.paragrafo{
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 20px;
    font-variant: normal;
   
   
}
.header{    
  
    background-image: url(assets/contener.png);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 120vh;
    width: 100%;
  } 
  .baner-1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: var(--titulo-branco);
    width: 100%;
    
}
.black-coffe{
    padding-block: 2%;
    text-align: center;
    font-family: 'Playfair Display';  
    font-weight: 700;
    font-size: 30%;
   

}
.sliders{
    position: absolute;
    left: 5%;
    top: 30%;
}
.paragrafo-1{
    color: var(--titulo-branco);
    font-family: 'Playfair Display';   
    font-style: normal;   
    font-weight: 700;  
    font-size: 70%;  
    padding-left: 5%;
    padding-top: 10%;
    height: 30px;

}
.setas{
    
    display: flex;
    flex-direction: row;
    padding-right: 50%;
    padding-block: 28%;
    padding-left: 3%;
    

}
.baner-burguer{
   
    padding-block: 2%;
    padding-left:5%;
  
}
.button{
    appearance: none;
    border: 0;
    padding: 0;
    background-color: transparent;
  }
.button-1{
    margin-left: 30%;

}
.sacola{
    position: absolute;
    left: 92%;
    top: 3%;
    cursor: pointer;
    

}
h1{
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: 500%;
   
}
.destaque{
    position:relative;
    left: 3%;
    top: 10vh;
    width:80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20%;
}
.destaque-1{
    display: flex;
    flex-direction: row;
    padding-bottom: 10%;
 
}
.Coffee-1{
    height: 80%;
    position: relative;
    

}
.Coffee{
   height: 80%;
   position: relative;
   left: 20%;
   top: -40%
  
}
.coffe{
   color: var(--titulo-verde);
   font-size: 300%;
   position: relative;
   top: 1vh;
    
}
.destaque-texto{
  
    
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 140% ;
    color: var(--titulo-verde);
}
.destaque-texto{
    width: 70%;
    margin: 3%;
}
.destaque-texto-4{
    
    
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 140% ;
    color: var(--titulo-verde);
    position: relative;
    left: 25%;
    bottom: 45%;
    

}
.coffe-9{
    font-family: 'Playfair Display';   
    font-weight: 700;
    color:var(--titulo-verde);
    font-size: 200%;
    position: relative;
     left: 20vh;
     top: -40vh;
   
    
    
   

}
  
h2{
    font-family: 'Playfair Display', serif; 
    font-weight: 700;
    color: var(--titulo-verde-claro);
    width: 500px;
    margin: 3vh;
    position: relative;
    top: 10%;

    
}
.coffe-1{
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-weight: 300;
    font-size: 100%;
    color:var(--titulo-verde);
    padding-top: 10%;
}
.coffe-2{
    padding-left: 25%;
    
}

  

.valor-1 , .valor-2{
    
    padding-left: 25%;
    margin-left:-20%;
    position: relative;
    left: 30%;
    

}
.valor-1{
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    color: var(--titulo-verde);
    left: 35%;
    

    

}
.valor-2{
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: #969696;
    

}
.ad-carrinho{
    color: var(--titulo-branco);
    background-color: var(--titulo-verde);
    margin-top: 10%;
     font-family: 'Playfair Display';  
    font-style: normal;   
    font-weight: 700;  
    font-size: 90%;  
    width: 90%;
    height: 50px;
    padding: 5px;
    border: none;
    border-radius: 4px;
    position: relative;
    left: 5%;
    
}

.variedades{
    font-size: 200%;
    position:relative;
    top: -70vh;
    left: 3%;
}
.variedades-1{
    position:relative;
    top: -70vh;
    background-color: var(--fundo-footer);
    border-radius: 2%;
    width: 25%;
    height: 65vh;
    

}
.parag{
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    position: relative;
    width: 50%;
    top: 10%;
    font-size: 50%;
  
}

.pacote{
    display: flex;
    justify-content: space-around;
    background: cover;
  
   
}
.pacote-1{
    display: flex;
    justify-content: space-around;
   
    
}
 .carrinho{
    position:relative;
    top: -65vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: var(--titulo-verde);
}
.catalog{
    position: relative;
    top: -80vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.catalogo{
    position:relative;
    top: 15vh;
    background-image: url(assets/catálogo.png);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 46%;
    

    
} 
.catalogo h2{
    font-family: 'Plafair Display';
    font-style: normal;
    font-weight:700;
    font-size: 200%;
    color: #FFFCF6;
   padding-top:40%;
   

}
.catalogo p{
    font-family: 'Manrope';
    font-style:normal;
    font-weight:500;
    font-size: 111%;
    line-height:110%;
    padding-top: 10%;
    letter-spacing: 0.04em;
    color: #FFFCF6;
    padding-left:20px
}
.acessorios{
    position:relative;
    top: 90px;
    background-image: url(assets/acessorio.png);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 45%;
    position: relative;
    left: -2%;

    
        
} 
.acessorios h2{
    font-family: 'Plafair Display';
    font-style: normal;
    font-weight:700;
    font-size: 40px;
    line-height: 60px;
    color: #FFFCF6;
     padding-top:250px;
    
}
.acessorios p{
    font-family: 'Manrope';
    font-style:normal;
    font-weight:500;
    font-size: 111%;
    line-height: 110%;
    letter-spacing: 0.04em;
    color: #FFFCF6;
    padding-left: 3%;
    padding-bottom: 15vh;
}


.loja{
    position:relative;
    top: -300px;
    font-family: 'Plafair Display';
    font-style: normal;
    font-size: 200%;
    font-weight:700;
    color: var(--titulo-verde);
    padding-left: 3%;

}

.map{
    position:relative;
    top: -280px;
    line-height: 10%;
    width: 95%;
    height: 70vh;
    position: relative;
    left: 2%;
   

}
.localizaçao{
    font-family: 'Open Sans', sans-serif;
    font-weight:300;
    color: #969696;
    padding-left: 3%;
    position:relative;
    top: 5%;
    border-color: #0B1D03 solid;
    left:2%;
   width: 25%;
   height: 60px;
   border: 2px solid #0B1D03;
   border-radius: 5px;
 }

 .localizaçao-1{
    font-family: 'Open Sans', sans-serif;
    font-weight:300;
    color: #969696;
    position:relative;
    top: 1%;
    width: 52%;
    left: 10%;
    height: 55px;
    border: 2px solid var(--titulo-verde);
    border-radius: 5px;
 
     
}
.lupa{
    position: absolute;
    padding-top: 1vh;
    padding-left: 5%;
    
}

input{
    
    background-repeat:no-repeat;  
    padding-left: 10%;
    display: flex;
    align-items: center;
 
}

.form{
    display: flex;
    flex-direction: row;
    position: relative;
    top: -300px;
}
footer{
    margin-top: -30vh;
    display: flex;
    flex-direction: column;
    background-color: var(--fundo-footer);
    height: 53vh;
   
} 
.containers{
    font-family: 'Open Sans', sans-serif;
    font-weight:300;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    position: relative;
    top: -5vh;
}
.black{
    font-family: 'Plafair Display';
    font-weight:700;
    font-size: 200%;
    color: var(--titulo-verde);
    padding-top: 60%;
}

.container h6{
    font-size: 110%;
    font-weight: 500;
    margin-bottom: 10%;
    padding-top: 100px;
    

}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li{
    margin: 10% 0 10% 0;
    
}
a{
    color: var(--titulo-footer);
    text-decoration: none;
}
.designed{
    display: flex;
    flex-direction: row;
    position: absolute;
    left: 40%;
    padding-top: 20%;
    
}
.designed-1{
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    
}
.designed img{
    margin-left: 11px;
    width: 30%;
}




