@import url('https://fonts.googleapis.com/css2? family= Open+Sans:wght@300;800 & family= Playfair+Display:ital,wght@0,700;1,700 & display=swap');
*{
    padding: 0;
    margin: 0;
    
}
:root {
    --titulo-branco: #FFFFFF;
    --titulo-verde: #0B1D03;
    --titulo-verde-claro: #A0996C;
    --titulo-branco-acessorios:  #FFFCF6;
    --titulo-footer: #1F1F1F;
    --fundo-footer: #F7F1E6;
}
.paragrafo{
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 20px;
    font-variant: normal;
   
   
}
.header{    
  
    background-image: url(assets/contener.png);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 120vh;
    width: 100%;
  } 
  .baner-1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: var(--titulo-branco);
    width: 100%;
    
}
.black-coffe{
    padding-block: 1%;
    padding-left:30px;
    text-align: center;
    font-family: 'Playfair Display';  
    font-weight: 700;
   

}
.sliders{
    position: absolute;
    left: 7%;
    top: 200px;
}
.paragrafo-1{
    color: var(--titulo-branco);
    font-family: 'Playfair Display';   
    font-style: normal;   
    font-weight: 700;  
    font-size: 70px;  
    line-height: 79px;  
    padding-left: 80px;
    padding-top: 10%;
    height: 30px;

}
.setas{
    
    display: flex;
    flex-direction: row;
    padding-right: 50%;
    padding-block: 28%;
    padding-left: 3%;
    

}
.baner-burguer{
   
    padding-block: 2%;
    padding-left:60px;
  
}
.button{
    appearance: none;
    border: 0;
    padding: 0;
    background-color: transparent;
  }
.button-1{
    margin-left: 20px;

}
.sacola{
    position: absolute;
    left: 92%;
    top: 3%;
    cursor: pointer;
    

}
h1{
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: 50px;
   
}
.destaque{
    position:relative;
    left: 3%;
    top: 70px;
    width:80%;
    display: flex;

    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 200px;
}
.destaque-1{
    display: flex;
    flex-direction: row;
    position:relative;
    top: -70px;
 
}
.Coffee-1{
    height: 80%;
    position: relative;
    

}
.Coffee{
   height: 80%;
   position: relative;
   left: 130px;
   top: -120px;
}
.coffe{
    color: var(--titulo-verde);
    font-size: 40px;
}
.destaque-texto{
  
    line-height: 30px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300px;
    font-size: 20px ;
    color: var(--titulo-verde);
}
.destaque-texto{
    width: 500px;
    margin: 30px;
}
.destaque-texto-4{
    
    line-height: 30px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300px;
    font-size: 20px ;
    color: var(--titulo-verde);
    position: relative;
    left: 25%;
    bottom: 15%;
    

}
.coffe-9{
    font-family: 'Playfair Display';   
    font-weight: 700;
    color:var(--titulo-verde);
    font-size: 40px;
    position: relative;
    left: 20%;
    bottom: 10%;
    
    
   

}
  
h2{
    font-family: 'Playfair Display', serif; 
    font-weight: 700;
    color: var(--titulo-verde-claro);
    width: 500px;
    margin: 30px;
    
}
.coffe-1{
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-weight: 300;
    font-size: 15px;
    color:var(--titulo-verde);
    padding-top: 30px;
}
.coffe-2{
    padding-left: 25%;
    
}

  

.valor-1 , .valor-2{
    
    padding-left: 25%;
    margin-left:-20%;
    position: relative;
    left: 30%;
    

}
.valor-1{
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    color: var(--titulo-verde);
    left: 35%;
    

    

}
.valor-2{
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: #969696;
    

}
.ad-carrinho{
    color: var(--titulo-branco);
    background-color: var(--titulo-verde);
    margin-top: 10%;
     font-family: 'Playfair Display';  
    font-style: normal;   
    font-weight: 700;  
    font-size: 20px;  
    width: 250px;
    height: 50px;
    padding: 5px;
    border: none;
    border-radius: 4px;
    position: relative;
    left: 5%;
    
}

.variedades{
    font-size: 40px;
    position:relative;
    top: -300px;
    left: 40px;
}
.variedades-1{
    position:relative;
    top: -300px;
    background-color: var(--fundo-footer);
    border-radius: 2%;
    width: 300px;
    height: 400px;
    padding: 5px;

}
.parag{
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    position: relative;
    width: 240px;
    top: -5%;
    
    
    
}

.pacote{
    display: flex;
    justify-content: space-around;
    background: cover;
  
   
}
.pacote-1{
    display: flex;
    justify-content: space-around;
   
    
}
 .carrinho{
    position:relative;
    top: -250px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: var(--titulo-verde);
   
  
}
.catalog{
    position: relative;
    top: -350px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.catalogo{
    position:relative;
    top: 90px;
    background-image: url(assets/catálogo.png);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 45%;
    

    
} 
.catalogo h2{
    font-family: 'Plafair Display';
    font-style: normal;
    font-weight:700;
    font-size: 40px;
   line-height: 60px;
   color: #FFFCF6;
   padding-top:250px;

}
.catalogo p{
    font-family: 'Manrope';
    font-style:normal;
    font-weight:500;
    font-size: 13px;
    line-height:30px;
    padding-top: 5px;
    letter-spacing: 0.04em;
    color: #FFFCF6;
    padding-left:20px
}
.acessorios{
    position:relative;
    top: 90px;
    width: 36,67%;
    height:auto;
    background-image: url(assets/acessorio.png);
    background-size: 100%;
    background-repeat: no-repeat;
    position: relative;
    left: -2%;

    
        
} 
.acessorios h2{
    font-family: 'Plafair Display';
    font-style: normal;
    font-weight:700;
    font-size: 40px;
    line-height: 60px;
    color: #FFFCF6;
     padding-top:250px;
    
}
.acessorios p{
    font-family: 'Manrope';
    font-style:normal;
    font-weight:500;
    font-size: 13px;
    line-height:18px;
    letter-spacing: 0.04em;
    color: #FFFCF6;
    padding-left:20px;
    padding-top: 1%;
}
.cafe{
    margin: 0;
    font-size: 30px;  
    background-image: url(assets/Café mágico.png);
}
.cafe p{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    font-size: 20px;
    line-height: 26px;
    color: rgb(156, 47, 47);
  
   
}
.loja{
    position:relative;
    top: -200px;
    font-family: 'Plafair Display';
    font-style: normal;
    font-size: 40px;
    font-weight:700;
    color: var(--titulo-verde);
    padding-left: 3%;

}

.map{
    position:relative;
    top: -200px;
    line-height: 10%;
    width: 95%;
    height: 400px;
    position: relative;
    left: 2%;
   

}
.localizaçao{
    font-family: 'Open Sans', sans-serif;
    font-weight:300;
    color: #969696;
    padding-left: 30px;
    position:relative;
    top: 90px;
    border-color: #0B1D03 solid;
    left:2%;
   width: 25%;
   height: 60px;
   border: 2px solid #0B1D03;
   border-radius: 5px;
 }
 .localizaçao-1{
    font-family: 'Open Sans', sans-serif;
    font-weight:300;
    color: #969696;
    position:relative;
    top: 90px;
    width: 61%;
    height: 8%;
    left: 10%;
    height: 55px;
    border: 2px solid var(--titulo-verde);
    border-radius: 5px;
    text-align: 30px;
     
}
.lupa{
    position: absolute;
   padding-left: 100px;
   padding-top: 95px;
    
}

input{
    
    background-repeat:no-repeat;  
    padding-left: 13px;
    display: flex;
    align-items: center;

    
}

.form{
    display: flex;
    flex-direction: row;
    position: relative;
    top: -300px;
}
footer{
    margin-top: -150px;
    display: flex;
    flex-direction: column;
    background-color: var(--fundo-footer);
    height: 320px;
   
} 
.containers{
    font-family: 'Open Sans', sans-serif;
    font-weight:300;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    position: relative;
    top: -50px;
}
.black{
    font-family: 'Plafair Display';
    font-weight:700;
    font-size: 30px;
    color: var(--titulo-verde);
    padding-top: 100px;
}

.container h6{
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 15px;
    padding-top: 100px;
    

}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li{
    margin: 10px 0 10px 0;
    
}
a{
    color: var(--titulo-footer);
    text-decoration: none;
}
.designed{
    display: flex;
    flex-direction: row;
    position: absolute;
    left: 40%;
    padding-top: 20%;
    padding-bottom: 30px;
}
.designed-1{
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    
}
.designed img{
    margin-left: 11px;
    width: 120px;
}




